:root {
    --azul: #6EB3D0;
    --verde: #69db38;
    --rosa: #f07fb0;
    --laranja: #F4A623;
    --preto: #000000;
    --branco: #FFFFFF;
}

header, footer {
    background-color: var(--azul);
}

.carousel-indicators button, .carousel-inner button span{
    filter: drop-shadow(3px 2px 2px var(--preto));
}

.card, .card img, .card a{
    border-radius: 0;
}

.card{
    padding: 5px;
    border: 1px solid var(--preto);
}

.card button{
    background-color: var(--rosa);
    border: none;
    border-radius: 0;
}

.card button:hover{
    background-color: var(--rosa);
}

.card button:active{
    background-color: #f0599a !important;
    color: var(--rosa);
}

#imgForm {
    background-image: url(../imgs/banner/imgBanner.png);
    background-size: cover;
    background-position: center;
}

#btnEnviar button {
    background-color: var(--azul);
    border: none !important;
}

@media screen and (max-width: 992px){
    form h4 {
        font-size: 14pt;
    }
}

form input{
    border: 1px solid black !important;
}

/* CHECKBOX-ANIMATION */
#check {
    width: 0;
    opacity: 0;
  }
  
  .switch {
    width: 128pt;
    padding: 4pt;
    border: 4pt solid #e1df4e;
    border-radius: 48pt;
    cursor: pointer;
    z-index: 9999;
    transition: all .35s;
  }
  
  .switch:focus,
  #check:focus {
    outline: none;
  }
  
  .sun {
    background: #e1df4e;
    position: relative;
    width: 32pt;
    height: 32pt;
    border-radius: 50%;
  }
  
  .sun:after {
    position: absolute;
    background: #0B1821;
    content: '';
    width: inherit;
    height: inherit;
    left: -50%;
    border-radius: inherit;
  }
  
  #check:checked + .switch {
    border-color: #0a2c42;
  }
  
  #check:checked + .switch .sun {
    background: #fff;
    animation: right .35s linear both;
  }
  
  #check:not(checked) + .switch .sun {
    animation: left .35s linear both;
  }
  
  #check:not(checked) + .switch .sun:after {
    transition-delay: 0;
    transition-duration: .15s;
    transfrom: scale(0);
    opacity: 0;
  }
  
  #check:checked + .switch .sun:after {
    transition-delay: 0;
    transition-duration: .35s;
    transfrom: scale(1);
    opacity: 1;
  }
  
  #check:checked + .switch + .sky {
    background: #0b1821;
  }
  
  .sky {
    position: absolute;
    display: block;
    background: #eff3e4;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all .15s;
    z-index: 0;
  }
  
  @keyframes right {
    0% {
      transform: translateX(0) scale(1);
    }
    50% {
      transform: translateX(145%) scale(.5);
    }
    100% {
      transform: translateX(290%) scale(1);
    }
  }
  
  @keyframes left {
    0% {
      transform: translateX(290%) scale(1);
    }
    50% {
      transform: translateX(145%) scale(.5);
    }
    100% {
      transform: translateX(0%) scale(1);
    }
  }
/* FIM-CHECKBOX-ANIMATION-------- */
